body {
    /*background-image: url('WEJUMP.png');*/
    background-repeat: no-repeat;
    background-color: rgb(15, 165, 92);
    font-family: 'comic sans', 'Comic Sans MT', Comic Sans, 'Comic Sans MS', sans-serif;
    /*font-family: "Wingdings 3"; */
    color:rgb(127, 0, 196); 
  }
  h1 {
    color:rgb(255, 0, 251); 
    font-size: 50px;
  } 
  div {
    color:rgb(0, 0, 0); 
  }
.center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
}
/* When you mouse over the navigation links, change their color */
.sidenav_links a:hover {
  color: #f1f1f1;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}